@media (max-width: 1300px){

    .space{
        margin-left: 0%;
    }

    .mainline{
        width: 200px;
    }

    .always{
        font-size: 60px;
        font-weight: 200;
        margin-top: 150px;
        margin-left: 100px;
    }

    .bu{
        font-size: 120px;
        margin-left: 180px;

    }
    .wanttext{
        display: flex;
        margin-top: 30px;
        margin-left: 30px;
    }

    .workdiv{
        width: 80%;
    }

    .teambg{
        font-size: 300px;
    }

    .memberbox{
        width: 100%;

    }

    .abouthead{
        font-size: 250px;
    
      }

      .contact-form{
        width: 35%;
        margin-left: 10%;
    }

      .spacecon{
        width: 10%;
      }

      .contact-info{
        width: 35%;
      }

      .info{
        margin-left:12%;
      }

      .info-box{
        margin-left: 10%;
      }

      .foot{
        width: 90%;
      }
}

@media (max-width: 1050px){


    .headbar{
        justify-content: space-between;
    }
    .menubar{
        display: none;
    }

    .logo{
        margin: 0px;
    }
    .logo img{
        margin-left: 0px;
    }

    .space{
        display: none;
    }

    .secmenubar{
        width: auto;
    }

    .sclmdia{
        display: none;
    }

    .secmenubar a{
        margin: auto;
    }

    #main{
        height: 950px;
    }

    .mainline{
        width: 100px;
        margin-top: 630px;
    }
    .secmainline{
        height: 620px;
    }

    .always{
        font-size: 60px;
        margin-top: 380px;
        margin-left: 80px;
    }

    .bu{
        font-size: 100px;
        margin-left: 120px;
    }
    .wanttext{
        margin-left: 10px;
    }

    .workdiv{
        width: 100%;
    }

    #scrollable p{
        font-size: 200px;
    }

    .teambg{
        font-size: 220px;
    }

    .memberbox{
        width: 95%;

    }

    .memberinfo{
        width: 30%;
        margin: auto;
    }
    .memberhandle{
        width: 15%;
        margin: 1%;
    }
    .wrapper .icon{
        display: block;
        margin: 30px;
    }

    .abouthead{
        font-size: 180px;
    
    }

    .contacthead{
        font-size: 130px;
    }
    .contactline{
        margin: -70px auto 0px auto;
    }

    .contact-bucket{
        display: block;
    }
    .contact-form{
        width: 80%;
        margin: auto;
    }
    .contact-info{
        width: 80%;
        margin:100px auto;
      }
      .info{
        text-align: center;
        margin: 0px;
        font-size: 80px;
      }
      .info-box{
        margin:30px auto;
        display: block;
      }
      .info-head{
        font-size: 40px;
        font-weight: 300;
        margin: 0px 10px;
        text-align: center;
      }
      .info-base{
        font-size: 30px;
        font-weight: 200;
        margin: 0px;
        text-align: center;
      }
}

@media (max-width: 800px){

    #main{
        height: 600px;
    }
    .mainline{
        display: none;
    }
    .secmainline{
        height: 480px;
    }
    .always{
        font-size: 40px;
        margin-top: 250px;
        margin-left: 40px;
    }

    .bu{
        font-size: 70px;
        margin-left: 80px;
    }
    .wemake{
        font-size: 30px;
    }
    .want{
        font-size: 30px;
        width: 100px;
    }
    .wanttext{
        margin-left: 10px;
    }

    #work{
        height: 1600px;
    }

    .workarea{
        display: block;
        padding-bottom: 20px;
    }

    .workline{
        display: none;
    }

    .colorgrad{
        height: 50px;
    }

    .teambg{
        font-size: 100px;
    }
    .memberbox{
        display: block;

    }
    .memberinfo{
        width: 80%;
        margin-top: 40px;
        text-align: center;
    }
    .memberimg{
        width: 60%;
    }
    .memberhandle{
        display: none;
    }
    .afterteamgrd{
        height: 60px;
      }

    .aftervideo{
        height: 60px;
    }

    #about{
        height: 950px;
    }

    .abouthead{
        font-size: 80px;
        text-align: center;
    }
    .aboutpara{
        width: 80%;
        margin: 20px auto;
    }
    .proud{
        font-size: 25px;
        font-weight: 400;
        margin-top: 60px;
    }
    .workprogress{
        display: block;
        margin-bottom: 0px;
    }
    .worktype{
        flex: 50%;
        max-width: 50%;
    }

    .contacthead{
        font-size: 70px;
    }
    .contactline{
        margin: -39px auto 0px auto;
    }
    .info{
        font-size: 60px;
      }
    .info-head{
        font-size: 30px;
      }
      .info-base{
        font-size: 20px;
    }
    .foot{
        display: block;
    }
    .footbox{
        width: 100%;
        align-items: center;
    }

    .line{
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #5f6267, rgba(255, 255, 255, 0));
    }
    .footlogodiv{
        display: none;
    }
    .footlogosub{
        display: none;
    }
    .lineb{
        display: none;
    }
    .vline{
        margin-bottom: 0px;
    }
    .linksbox{
        margin-top: 40px;
    }
    .copy{
        margin-top: 60px;
    }

}

@media (max-width: 500px){

    #main{
        height: 650px;
    }
    .secmainline{
        height: 550px;
    }
    .scrolltext{
        margin-left: 85%;
    }
    .always{
        font-size: 40px;
        margin-top: 250px;
        margin-left: 40px;
    }

    .bu{
        font-size: 50px;
        margin-top: 20px;
        margin-left: 70px;
    }
    .wemake{
        font-size: 20px;
    }
    .want{
        font-size: 20px;
        width: 70px;
        border-radius: 5px;
    }
    .wanttext{
        margin-left: 10px;
    }

    #scrollable p{
        font-size: 150px;
    }

    .teambg{
        font-size: 80px;
    }

    .abouthead{
        font-size: 50px;
    
    }
}

@media (max-width: 380px){

    #main{
        height: 650px;
    }
    .secmainline{
        height: 550px;
    }
    .scrolltext{
        margin-left: 85%;
    }
    .always{
        font-size: 30px;
        margin-top: 250px;
        margin-left: 20px;
    }

    .bu{
        font-size: 40px;
        margin-top: 20px;
        margin-left: 40px;
    }
    .wemake{
        font-size: 15px;
    }
    .want{
        font-size: 15px;
        width: 55px;
        border-radius: 5px;
        margin-left: 0px;
    }

    .workhead{
        font-size: 50px;
    }
    .worksubhead{
        font-size: 30px;
    }

    #scrollable p{
        font-size: 100px;
    }

    .teambg{
        font-size: 50px;
        text-align: center;
    }
    #about{
        height: 1200px;
    }

    .abouthead{
        font-size: 40px;
    
    }

    .contacthead{
        font-size: 45px;
    }
    .contactline{
        margin-top: -27px;
    }
}