@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Exo 2', sans-serif;
*/
html{
  scroll-behavior: smooth;
}
body{
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 400;
    margin: 0px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    background-image: url('image/matte.jpg');
    background-color: rgb(21, 22, 28);
    cursor: default;
}
p{
    color: #5f6267;
}
::selection{
    background-color: #e84c3d;
}



.gotop{
  background-color: white;
  border-style: none;
  width: 40px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  cursor: pointer;
  opacity: .5;
  z-index: 99;
}
.gotop:hover{
  opacity: 1;
}

.fas{
  font-size: 40px;
  color: #212528;
}

header{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    height: 60px;
    position: relative;
}
.headbar{
    height: 100%;
    width: 90%;
    display: flex;
    margin: auto;
    border-bottom: 1px solid white;
}

.menubar{
    width: 47%;
}

.menu{
    display: flex;
    padding: 0px;
    margin-top: 20px;
}
.menu li{
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    margin-right: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.menu li a{
  text-decoration: none;
  color: white;
}

.logo{
    height: 100%;
    width: 100px;
    background-color: rgba(0, 0, 255, 0);
    margin: auto;
}

.logo img{
    
    width: 100%;
    margin: 15px;
}

.secmenubar{
    width: 47%;
    display: flex;
}

.space{
    width: 100%;
    height: 100%;
    margin-left: 20%;
}
.secmenubar a{
    white-space: nowrap;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin:auto 0px auto 20%;

}
.contactbtn{
    background: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    letter-spacing: 3px;
    text-align: center;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
    margin: auto;

}

.contactbtn:hover{
    color: #2d3134;
    background-color: rgb(255, 255, 255);
}


#main{
    margin: auto;
    max-width: 1920px;
    width: 100%;
}
.home{
    display: flex;
}
.mainline{
    width: 250px;
    height: 1.5px;
    background-color: white;
    margin-top: 430px;
}

.secmainline{
    width: 1px;
    height: 515px;
    margin: auto;
    background-image: linear-gradient( rgba(255, 255, 255, 0), #5f6267);
}

.always{
    font-size: 80px;
    font-weight: 200;
    margin-top: 130px;
    margin-left: 100px;
    margin-bottom: 0px;
    padding: 0px;
}
.bu{
    font-size: 150px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 200px;
}

.wanttext{
    display: flex;
    margin-left: 30px;
}
.wemake{
    margin: 0px 10px;
    font-size: 40px;
    font-weight: 200;
}
.want{
    font-size: 40px;
    color: #212528;
    background-color: white;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}
.scrolltext{
    margin-left: 90%;
    margin-top: -500px;
}
.vdivtext{
    writing-mode: vertical-rl;
    margin: 20px auto 0px auto;
}
.scroll{
    text-orientation: mixed;
    letter-spacing: 1px;
}
.scrolldivline{
    width: 1px;
    height: 60px;
    background-color: #5f6267;
    margin: 20px auto 0px auto;
}

#work{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    height: 1050px;
    background-color: #2d31348a;
}

.workdiv{
    width: 70%;
    margin: auto;
}
.workhead{
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-top: 40px;
}
.worksubhead{
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    color: #5f6267;
    text-transform: uppercase;
    margin-top: -10px;
}

.workarea{
    display: flex;
}
.workline{
    width: 1px;
    height: 900px;
    background-image: linear-gradient(#5f6267,#5f6267, rgba(255, 255, 255, 0));
    margin: auto;
}
.workbox{
    margin: auto;
    width: 300px;
}

.workboxes{
    width: 80%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.workboxes:hover{
    box-shadow: 0px 0px 5px 0 #fc3636;
    
}

.workboxes img{
    width: 100%;
    margin: auto;
}

.workboxes h3{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

}

.workboxes p{
    font-size: 12px;
    text-align: center;
}

.colorgrad{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 150px;
    background-image: linear-gradient(#2d31348a, rgba(255, 255, 255, 0));
}

#scrollable{
  max-width: 1920px;
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0px auto 0px auto;
}

#scrollable::-webkit-scrollbar{
    width: 0px;
  }

#scrollable p{
    margin: auto;
    font-weight: 300;
    color: white;
    font-size: 300px;
    margin: 0px;
    position: relative;
    text-align: center;
    transform: translateX(10px);
    z-index: -1;
  
    
}

.colorgradb{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    height: 150px;
    background-image: linear-gradient(  rgba(255, 255, 255, 0), #2d31348a);
}

#team{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: max-content;
    background-color: #2d31348a;
}

.teamlinebg{
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: max-content;
  background-color: #2d31348a;
}

.teamline{
    width: 1px;
    height: 200px;
    margin: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0),#5f6267,#5f6267 );
}

.teambg{
    font-size: 300px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 30px;
    margin: 0px;
    background: -webkit-linear-gradient(#5f6267, rgba(255, 255, 255, 0.042),rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.memberline{
    width: 1px;
    height: 100px;
    margin: 40px auto 40px auto;
    background-color: #5f6267;
}

.memberbox{
    width: 80%;
    margin: 0px auto 0px auto;
    display: flex;
}
.memberinfo{
    width: 25%;
    margin: auto;
}
.memberimg{
    width: 25%;
    margin: auto;
}
.memberimg img{
    width: 100%;
}
.memberhandle{
    width: 25%;
    margin: auto;
}


.wrapper .icon{
    position: relative;
    background-color: #5f6267;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    margin: auto;
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 20%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background-color: #46c1f6;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }

  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }
  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: #0072b1;
    color: #ffffff;
  }

  .aftermemline{
    width: 1px;
    height: 200px;
    margin:40px auto 0px auto;
    background-image: linear-gradient( #5f6267,#5f6267, rgba(255, 255, 255, 0));
  }

  .afterteamgrd{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 100px;
    background-image: linear-gradient( #2d31348a, rgba(255, 255, 255, 0));
  }

  #featured{
    width: 100%;
    margin: auto;
    max-width: 1920px;
  }
  #featured video{
    width: 100%;
  }

  .aftervideo{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    height: 100px;
    background-image: linear-gradient( rgba(255, 255, 255, 0), #2d31348a);
  }
  #about{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    background-color: #2d31348a;
  }

  .aboutlinebg{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    background-color: #2d31348a;
  }
  .aboutline{
    width: 1px;
    height: 200px;
    margin: auto;
    background-image: linear-gradient( rgba(255, 255, 255, 0), #5f6267);
  }

  .abouthead{
    font-size: 300px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 30px;
    margin: 0px;
    background: -webkit-linear-gradient(#5f6267, rgba(255, 255, 255, 0.042),rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
  .aboutpara{
    width: 70%;
    margin: auto;
  }
  .aboutpara p{
    text-align: center;
    margin: 0px;
  }

.proud{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: #5f6267;
}

.workprogress{
    display: flex;
    width: 80%;
    margin: auto;
}
.worktype{
    margin: auto;
}
.worktype h1{
    text-align: center;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 0px;
}
.worktype p{
    text-align: center;
    margin-top: 5px;
}
.spaceafterabout{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    height: 150px;
    background-image: linear-gradient(#2d31348a, rgba(255, 255, 255, 0));
}

#contact{
    width: 100%;
    margin: auto;
    max-width: 1920px;
    margin-bottom: 150px;
}
.contactheadandline{
    width: 80%;
    margin: auto;
}
.contacthead{
    font-size: 150px;
    opacity: .3;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    color: #5f6267;
}
.contactline{
    height: 1px;
    width: 100%;
    margin: -80px auto 0px auto;
    border: 2px solid #24282b;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #5f6267, rgba(255, 255, 255, 0));
}

.contact-bucket{
    display: flex;
    margin-top: 100px;
}

.contact-form{
    width: 30%;
    margin-left: 10%;
}
.fourm{
    width: 100%;
}
.input-box{
    width: 100%;    
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #5f6267;
    margin: 80px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: rgb(113, 117, 123);
  }
  .txt_field textarea{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    resize: none;
    color: rgb(113, 117, 123);
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #5f6267;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #5f6267;
  }
  .txt_field textarea:focus ~ label,
  .txt_field textarea:valid ~ label{
    top: -10px;
    color: #5f6267;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .txt_field textarea:focus ~ span::before,
  .txt_field textarea:valid ~ span::before{
    width: 100%;
  }

  #send{
    font-size: 20px;
    color: #24282b;
    background-color: #5f6267;
    border: none;
    padding: 10px 20px;
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.15s;
  }
  .spacecon{
    height: 100%;
    width: 20%;
  }
  .contact-info{
    width: 30%;
    height: 100%;
    margin-top: 70px;
    padding: 30px 0px;
    background-color: #5f62673f;
  }
  .info{
    color: #5f6267;
    font-size: 40px;
    margin-left:85px;
    margin-bottom: 0px;

  }

  .info-box{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
    display: flex;
  }
  .info-head{
    color: #b9baba;
    font-size: 20px;
    font-weight: 200;
    margin: 0px 10px;
  }
  .info-base{
    color: #b9baba;
    font-size: 20px;
    font-weight: 200;
    margin: 0px;
  }


#footer{
    width: 100%;
    margin: auto;
    max-width: 1920px;
  }

  .foot{
    display: flex;
    width: 80%;
    margin: auto;
  }

  .footbox{
    width: 33.33%;
    align-items: center;
  }
  .footlogodiv{
    width: 130px;
    margin:25px auto 0px auto;
    
  }
  .footlogo{
    width: 100%;
  }
  .footlogosub{
    margin-top: 10px;
    text-align: center;
    color: #5f6267;
  }
  .footlogosub a{
    color: #5f6267;
    text-decoration: none;
  }

  .footsm{
    margin: auto;
    width: 90%;
    display: flex;
    margin-top: 30px;
  }


.footsm a{
    font-size: 30px;
    text-decoration: none;
    margin: 10px auto;
    color: #5f6267;
}
.fa:hover{
    color: white;

}
 .vline{
    width: 1px;
    height: 70px;
    margin: 30px auto;
    padding: 0px;
    position: relative;
    background-color: #5f6267;
 }

  .line{
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #5f6267);
  }
  .lineb{
    margin-top: 40px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0), #5f6267);
  }
  .linksbox{
    margin-top: 80px;
    width: 100%;
    align-items: center;

  }
  .footlinks{
    font-weight: 500;
    font-size: 15px;
    color: #5f6267;
    margin:20px;
    text-align: center;
  }
  .footlinks a{
    color: #5f6267;
    text-decoration: none;
  }
  .copy{
    color: #5f6267;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
  }